.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navLink {
  list-style: none;
}