.navbar {
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0;
  z-index: 99;
}

.navHead {
    font-weight: bold;
    letter-spacing: 1px;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navLink {
  list-style: none;
}