@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --color: black;
  --bgSoft: #0C2D57;
  --colorSoft: #ccc;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'sans-serif';
  background-color: var(--bgSoft);
  color: var(--colorSoft);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-size: 1.2rem;
}