.register {
  z-index: 0;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #1f2544;
  color: black;
}

.registerInput {
  border: 1px solid black;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 300;
}

.registerInput::placeholder {
  color: #444;
  letter-spacing: 0.5px;
}

.registerBtn {
  border: none;
  padding: 0.6rem 4rem;
  background-color: transparent;
  border: 1px solid black;
  color: #444;
  cursor: pointer;
  letter-spacing: 0.4px;
  border-radius: 4px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.registerBtn:hover {
  background-color: #12372a;
  color: #f1f1f1;
}

.authBtn {
  padding: 1rem 3.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  aspect-ratio: 1/3;
  height: 1rem;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #561c24;
}